@font-face {
  font-family: 'font';
  src: url(../font/SF-Pro-Display-Bold.otf);
}
body{
  background-color: rgb(255, 255, 255);
  font-family: 'font';
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.current-weather{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlights-forecast{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 1000px;
  height: 350px;
}

.parent{
  display: flex;
  justify-content: center;
}

.highlight{
  display: flex;
  align-items: center;
  gap: 10px;
}

.highlight-info{
  display: flex;
  align-items: center;
  gap: 5px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
}

.info{
  display: flex;
  flex-direction: column;
}

.forecast{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forecast-row{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.forecast-item {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
  overflow-wrap: break-word;
  margin: 0;
  width: 127px;
  height: 130px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
}

@media only screen and (max-width: 500px) {
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-item: center;
    padding: 10px;
  }

  .highlights-forecast{
    width: 100%;
    height: auto;
    gap: 20px;
  }

  .highlight {
    flex-wrap: wrap; 
    justify-content: center;
  }

  .highlight-info {
    width: 45%; 
    height: auto;
  }

  .forecast-row {
    flex-direction: column; 
    align-items: center;
  }

  .forecast-item {
    width: 90%;
    height: auto;
  }

  .search {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}
